.signin-page {
  padding: 3rem 3rem 0;
  min-height: 100vh;
}
.signin-page a {
  color: var(--quiz-pri-color);
}
.auth-form {
  width: 40%;
  margin: 1rem auto;
  padding: 3rem 2rem;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
  background-color: var(--grey-shade1);
  border-radius: 1rem;
}
.log-input {
  width: 20rem;
  background: transparent;
}
.or-divider {
  color: var(--quiz-pri-color);
}
.or-divider:after,
.or-divider:before {
  content: "\2003\2003\2003\2003\2003\2003";
  text-decoration: line-through;
  color: var(--quiz-pri-color);
}
@media only screen and (max-width: 450px) {
  .auth-form {
    width: 100%;
  }
  .signin-page {
    padding: 1rem 1rem 0;
  }
}
