.quiz-header {
  color: var(--quiz-sec-color);
}
.quiz-cards-list {
  padding: 3rem 0;
  width: 80%;
  gap: 2rem;
  margin: 0 auto;
}
.quiz-card {
  width: 20rem;
  background-color: var(--blue-shade1);
  border-radius: 1.5rem;
}
.quiz-card a {
  color: var(--quiz-sec-color);
}
.quiz-card img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 1.5rem;
}
.quiz-card-info {
  padding: 1rem;
}
.quiz-card-text {
  padding-top: 10px;
}
.quiz-card-text,
.quiz-card-questions {
  font-size: 0.8rem;
  color: var(--grey-shade1);
}
.quiz-question-page {
  min-height: 100vh;
}
.txt-spacing {
  letter-spacing: 3px;
}
.question-card {
  width: 50%;
  margin: 5rem auto;
}
.question-text {
  margin: 2rem 0 3rem;
}
.options-list ul {
  list-style: none;
}
.options-list-item {
  background-color: var(--blue-shade1);
  margin: 1.2rem 0;
  padding: 1rem 0;
  border-radius: 1rem;
}
.result-options-list-item {
  background-color: var(--blue-shade1);
  margin: 1.2rem 0;
  padding: 1rem 0;
  border-radius: 1rem;
}
.options-list-item:hover {
  background-color: var(--blue-shade2);
}
.selected-options-list {
  background-color: var(--blue-shade2);
}
.continue-btn {
  border-color: var(--quiz-sec-color);
  color: var(--quiz-sec-color);
}
.result-question-text {
  margin: 4rem 0 0.5rem;
}
.result-card {
  width: 50%;
  margin: 2rem auto;
}
.final-score {
  margin-top: 3rem;
}
.result-page-footer-button {
  margin: 4rem 0;
}
.right-answer {
  background-color: var(--light-green);
  color: var(--dark-green);
}
.wrong-answer {
  background-color: var(--dull-pink);
  color: var(--dark-red);
}
.rules-popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.rules-popup-content {
  background-color: var(--blue-shade1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1.5rem;
}
.rules-popup-content ol {
  padding: 2rem;
}
.rules-popup-content li {
  padding-bottom: 0.5rem;
}
.quiz-categories ul {
  list-style: none;
  justify-content: center;
}
.quiz-categories li {
  margin-right: 2rem;
  border: 1px solid var(--quiz-sec-color);
  border-radius: 1rem;
  padding: 6px 16px;
  cursor: pointer;
}
.selected-category {
  background-color: var(--quiz-sec-color);
  color: var(--quiz-pri-color);
}
